
g
*.sql
*.sqlite

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

*.com
*.class
*.dll
*.app
*.exe
*.war
*.o
*.so

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/.idea/
/.cache/
/.ssh/
/cgi-bin/
/pma/
/var/
/node_modules/
/dist/
/temp/

web.config
.bash_history

wp-config.php
wp-config-sample.php
wordfence-waf.php

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/aiowps_backups/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/w3tc-config/
wp-content/wflogs/
wp-content/mu-plugins/
wp-content/ewww/
wp-content/uploads-webpc/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/seo-by-rank-math/sitemap-cache/
/wp-snapshots/

nginx.conf
wp-content/db.php
wp-content/object-cache.php

/.user.ini
/.htaccess
/.htpasswd
/.gitconfig
/robots.txt
/license.txt
/readme.html
/index.html
/sitemap.xml
/sitemap*.xml
/sitemap.xml.gz
/yandex*
/google*
/error_log
/coming/
